# Object Files
*.o
*.obj

# Static Objects Files
*.lib
*.a

# Shared Objects Files
*.dll
*.so
*.so.*
*.dylib
*.dylib.*

# Executables Files
*.exe
*.out
*.app

# Project Files
*.layout
*.depend
*.cbp
*.sln
*.dsw
*.vcproj

# Windows Explorer
Thumbs.db
ehthumbs.db
desktop.ini

# Mac Finder
._.Ds_Store
.DS_Store
